<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet"/>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<!--  <link href="style.css" rel="stylesheet"/>   -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--   <script src = "/static/myscript.js"></script> -->

  <title>Ordered thoughts - registration</title>

</head>

<body>

    <h1>Register.</h1>

    <form action="/register" method="post">

      <input autocomplete="off" type="text" name="username" Placeholder="Username"/>
      <br>
      <br>
      <input class="form-control" type="password" name="password" Placeholder="Password"/>
      <br>
      <br>
      <input class="form-control" type="password" name="confirmation" Placeholder="Confirmation"/>
      <br>
      <br>
      <button type="submit">Register</button>
    </form>

</body>

</html>
